@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .write {
  white-space: nowrap;
  overflow: hidden;
  border-right: 5px solid black;
  animation: typing 5s steps(40, end) infinite alternate,
    blink-caret 800ms infinite;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
} */
